@model IEnumerable<Bookkeeping.Models.Invoice>

@{
    ViewData["Title"] = "Faktury";
}
@{await Html.RenderPartialAsync("_SumPartial");}
<div class="row">
    <p>
        <a asp-action="Create">Vytvořit novou fakturu</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DueTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfIssue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfIssue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Invoice.InvoiceTypeItems.Find(i => i.Value == item.InvoiceType.ToString()).Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.InvoiceId">Upravit fakturu</a> |
                        <a asp-action="Details" asp-route-id="@item.InvoiceId">Detail faktury</a> |
                        <a asp-action="Delete" asp-route-id="@item.InvoiceId">Smazat fakturu</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>